@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::before,
::after, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*{
  font-family: 'Montserrat', sans-serif;
}

body, html{
  width: 100%;
  min-height: 100vh;
  
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #9481eb;
  background: linear-gradient(90deg, rgba(148, 129, 235, 1) 0%, rgba(10, 108, 238, 1) 100%);
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;
}

.navbar button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: 20px;
  padding: .5rem;
  color:black;
  transition: all 0.2s ease;
  cursor: pointer;
  border:none;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.651);
}

.navbar button:hover{
  background-color:#ffffff;
  box-shadow: none
  
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage{
  width: 300px;
  aspect-ratio: 1;
}

.header .helloImage{
  aspect-ratio: 1;
  width: 50px;
}

.header h3{
  margin: 1rem;
  font-size: 3rem;
}

.header p{
  font-size: 1.5rem;
}

.header button{
  font-size: 1.2rem;
  background-color: #0a6cee;
  color: white;
  padding: .4rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
}

.header button:hover{
  box-shadow: none;
  
}

.container{
  position: relative;
  min-width: 500px;
  background-color: #010127;
  color: rgb(224, 224, 224);
  padding: 1rem;
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  
}

.container h2{
  margin: 1rem 0 2rem 0;
  padding: 1rem;
  border-bottom: 1px solid white;
}

.container label{
  margin: 1rem;
}

.container label img{
  width: 15px;
  aspect-ratio: 1;
}

.container form{
  margin: 2rem;
}

.container form div{
  margin: 1rem;
  background-color: #5959ac;
  border-radius: 10px;
  padding: .4rem;
  
}

.container form input{
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: transparent;
}

.container form input::placeholder{
  color: rgb(175, 175, 175);
}

.container .extras{
  font-weight: 600;
  color: #a5a5a5;
  margin: .5rem;
}

.container .extras span{
  color: #7878d1;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.container .extras span:hover{
  color: rgb(255, 255, 255);
}

.container button{
  width: 50%;
  padding: .2rem;
  margin: .2rem;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  background: #a6deff;
  background: linear-gradient(90deg, #373766, #6f6fdf 100%);
  color: #c2caf8;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
}

.container button:hover{
  color: white;
}